:root {
    --text-align: center;
    --height: auto;
}

header, footer {
    max-width: 840px;
    margin: 0 auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color:#fff;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;

}
h1 {
    color: darkblue;
    border-bottom: black;
    border-style: none;
    border-width: 2px;
}

img {
    width: 150px;
    height: var(--height);
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}


main {
    max-width: 840px;
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0 0 0 / 0.2); /* 1️⃣ */
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: var(--text-align); 

}

aside img {
    width: 200px;
    height: var(--height);

}

main img {
float: right;
width: 150px;
height: var(--height);
border: black;
padding: 0;
box-shadow: none;

}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: var(--text-align);
    
}

/*Class Selectors*/

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: 000;
}

.aside {
    width: 20rem;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
}

.grid {
    display: grid;
    margin: 1rem;
}
