.callout {
    max-width: 400px;
    border: 0;
    margin: 20px;
    padding: 20px;
    background-color: blue;
    color: white;
	
}

.callout img {
    float: right; 
    margin: 0 0 10px 15px;
    border: 2px black;
    padding: 5px;
    background-color:gray;
    width: 100px;
    height: auto;

	
}

blockquote {
	margin: 0;
}

cite {
    display: block;
    border-top: dotted;
    padding-top: 5px;
    text-align: right;
    font: smaller;
    color: white;
}