header {
    background-color: black;
    color: white;
    text-align: center;
    width: 800px;
    font-size: large;
    display: inline-block;
    position: center;
}



body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    align-items: center;
}

img {
    width: 500px;
    height: auto;
    box-shadow: 30px;
    padding: 10px;
}

section {
    background-color: lightgray;
    width: 500px;
    display: block;
    margin: 0 auto;
}

h2 {
    text-align: left;
    padding: 15px;
    margin: 0 auto;

}

section p {
    box-sizing: border-box;
    text-align: left;
    display: inline-block;
    padding: 25px;
    margin: 0 auto;



}

section ul {
    box-sizing: border-box;
    text-align: left;
}

footer {
    background-color: gray;
    color: white;
    text-align: center;
    width: 800px;
    font-size: large;
    display: inline-block;
    position: center;

}